<header>
  <h1><a href="/">Jeremy King</a></h1>
  <p class="tagline">Electrical engineer, cigar shop owner, small web enthusiast.<br>
  Building things in Florida. Moving to Rome.</p>
  <nav>
    <a href="/projects/">projects</a>
    <a href="/writing/">writing</a>
    <a href="/workshop/">workshop</a>
    <a href="/links/">links</a>
    <a href="/about/">about</a>
  </nav>
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
</header>
